In [1]:
cars={'Brand':'Ford','Model':'Bronco','Type':'SUV(Off roading)'}
for i in cars:
    print(i+' : '+ str(cars.get(i)))

Brand : Ford
Model : Bronco
Type : SUV(Off roading)

In [2]:
for i,j in cars.items():
    print(i+' -> '+j)

Brand -> Ford
Model -> Bronco
Type -> SUV(Off roading)

In [4]:
cars['Brand']='Tata'

In [5]:
print(cars)

{'Brand': 'Tata', 'Model': 'Bronco', 'Type': 'SUV(Off roading)'}

In [ ]:
# Set can not contain Duplicate data
my_set1={1,2,3,4,3,2}
print(my_set1)
# Set can contain multiple data types also mixed data type
my_set2={1,3,'How are you?',(1,2,3)}
print(my_set2)
# Set con not contain Mutabe data types such as (Lists, Dicsnery)

{1, 2, 3, 4}
{1, 3, 'How are you?', (1, 2, 3)}

In [ ]:
# Creating a set from a list is possible
list1=[]
n=int(input("Enter the number of elements you wnt to enter in the list: "))
for i in range(n):
    a=int(input())
    list1.append(a)
myset=set(list1)
print(myset)

{1, 2, 3}

In [3]:
def main():
    arg=4
    square(arg)
    print(arg)
    
def square(n):
    n*=n

main()

4

In [ ]:
def hello():
    arg=3
    return mult(arg)
def mult(x):
    x*=x
print(hello())

None

In [ ]:
ls={1,2,3,4,10,123,24}
oddlist=list(map(lambda x:x*3,ls))
print(oddlist)

[3, 6, 9, 12, 30, 369, 36]